@import "./mixin.scss";
@import "./transition.scss";
@import "./element-plus.scss";
@import "./vxeTable.scss";
@import "./layout.scss";

/* 灰色模式 */
.html-grey {
  filter: grayscale(100%);
}

html {
  font-size: 4px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "PingFang SC", "Noto Sans",
    "Noto Sans CJK SC", "Microsoft YaHei", "微软雅黑", sans-serif;
  font-weight: 400;
  color: #333;
  line-height: 1.36;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 14px;
}

html,
body,
#app,
.app-wrapper {
  min-width: 1024px;
  height: 100%;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

.cz-card {
  border-radius: 8px;
  background-color: #fff;
}

.main-container {
  // 页面样式
  .app-page {
    border-radius: 8px;
    background-color: #fff;
    margin: 16px;
    padding: 16px;
    box-sizing: border-box;
    /* 50= navbar  50  */
    height: calc(100vh - 50px - 36px);
    // 内容区高度-自动
    &.auto-height {
      height: auto;
    }
  }

  &.hasTagsView {
    .app-page {
      /* 84 = navbar + tags-view = 50 + 35 */
      height: calc(100vh - 85px - 36px);
    }
  }
}
