$--colors: (
  "primary": (
    "base": #292ae4,
  ),
  "success": (
    "base": #67c23a,
  ),
  "warning": (
    "base": #e6a23c,
  ),
  "danger": (
    "base": #ff4f42,
  ),
  "error": (
    "base": #ff4f42,
  ),
  "info": (
    "base": #969696,
  ),
);

@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: $--colors,
  $button-padding-horizontal: (
    "default": 12px,
  )
);

// custom dark variables
// @use "./dark.scss";

:root {
  // menu
  --el-menu-text-color: #666f88;
  --el-menu-item-height: 44px;
  --el-menu-hover-bg-color: transparent;

  // button
  --el-border-radius-base: 6px;
}

// table
.el-table {
  --el-table-text-color: var(--el-black);
  --el-table-header-text-color: var(--el-black);
  --el-table-header-bg-color: #f7f7fb;
}

// input
.el-input {
  --el-input-border-radius: 6px;
}

// 自定义项目 scss 全局公共变量
$base-sidebar-width: 200px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  sideBarWidth: $base-sidebar-width;
  primaryColor: $--color-primary;
  successColor: $--color-success;
  dangerColor: $--color-danger;
  infoColor: $--color-info;
  warningColor: $--color-warning;
}
