shell-emulator=true #使执行脚本适用于所有平台
shamefully-hoist=true # 将install的依赖包都放在同一级别（扁平化处理）
enable-pre-post-scripts=false #当 true 时，pnpm 将自动运行任何前/后脚本。 因此运行 pnpm foo 将类似于运行 pnpm prefoo pnpm foo pnpm postfoo。
strict-peer-dependencies=false #如果启用了此选项，那么在依赖树中存在缺失或无效的对等依赖关系时，命令将执行失败。
