@use "./transition.scss";
@use "./element-plus.scss";
@use "./vxeTable.scss";
@use "./layout.scss";

/* 灰色模式 */
.html-grey {
  filter: grayscale(100%);
}

/* 色弱模式 */
.html-weakness {
  filter: invert(80%);
}

.cz-card{
  border-radius: 8px;
  background-color: var(--bg-color);
  padding: 16px;
}

.main-container {
  // 页面样式
  .app-page {
    margin: 16px;
    box-sizing: border-box;
    /* 50= navbar  50  */
    height: calc(100vh - 50px - 32px);
    // 内容区高度-自动
    &.auto-height {
      height: auto;
    }
  }

  &.hasTagsView {
    .app-page {
      /* 88 = navbar + tags-view = 50 + 38 */
      height: calc(100vh - 88px - 32px);
    }
  }
}
