// checkbox
.vxe-table--render-default .vxe-cell--checkbox .vxe-checkbox--icon {
  font-weight: 400 !important;
}

// tooltip层级增大，弹框需要
.vxe-table--tooltip-wrapper {
  z-index: 3000 !important;
}

:root {
  // vxetable
  --vxe-ui-font-color: #333333 !important;
  --vxe-ui-table-header-font-weight: 500;
}
